@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

.settingsBox {
  position: absolute;
  height: 81vh;
  width: 76vw;
  top: 14vh;
  left: 20vw;
  background: #dde2ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3vh;
  font-family: "IBM Plex Sans Devanagari";
  border-radius: 10px;
}
.settingsTitle {
  position: relative;
  font-size: 5vh;
  font-weight: 600;
  left: 3vw;
  top: -3vh;
  color: #1c1f37;
}
.settingsDetails {
  position: absolute;
  width: 90%;
  height: 80%;
  left: 3vw;
  top: 9vh;
}
.updateEmail {
  position: absolute;
  top: -0.5vh;
  font-size: 120%;
 
  left: 2vw;
}
.emailColon {
  position: absolute;
  top: -1vh;
  font: 400 3vh "IBM Plex Sans Devanagari";
  left: 16vw;
}
.emailInput {
  position: absolute;
  border: none;
  font: 400 3vh "IBM Plex Sans Devanagari";
  left: 18vw;
  height: 5vh;
  width: 44vw;
  top: 1.5vh;
  border-radius: 10px;
  outline: none;
}
input[type="email"] {
  padding: 4px;
  padding-left: 15px;
}
input[type="text"] {
  padding: 4px;
  padding-left: 15px;
}
.updateNum {
  position: absolute;
  top: 8vh;
  font: 500 3vh "IBM Plex Sans Devanagari";
  left: 2vw;
}
.numColon {
  position: absolute;

  top: 8vh;
  font: 400 3vh "IBM Plex Sans Devanagari";
  left: 16vw;
}
.numInput {
  position: absolute;
  border: none;
  font: 400 3vh "IBM Plex Sans Devanagari";
  left: 18vw;
  height: 5vh;
  width: 44vw;
  top: 10vh;
  padding: 1px;
  border-radius: 10px;
  outline: none;
}
.updateTheme {
  position: absolute;
  top: 18vh;
  font: 500 3vh "IBM Plex Sans Devanagari";
  left: 2vw;
}
.themeColon {
  position: absolute;
  top: 18vh;
  font: 400 3vh "IBM Plex Sans Devanagari";
  left: 16vw;
}
.themeSwitch {
  position: absolute;
  left: 18vw;
  height: 5vh;
  width: 45vw;
  top: 21vh;
  border-radius: 10px;
  outline: none;
}
.updateAds {
  position: absolute;
  top: 27.2vh;
  font: 500 3vh "IBM Plex Sans Devanagari";
  left: 2vw;
}
.adsColon {
  position: absolute;
  top: 27vh;
  font: 400 3vh "IBM Plex Sans Devanagari";
  left: 16vw;
}
.adsButton {
  position: absolute;
  top: 20vh;
  left: 18vw;
  height: 5vh;
  width: 15vw;
  top: 30vh;
  font-size: 2vh;
  border-radius: 10px;
  outline: none;
  color: #ffffff;
  border: none;
  background-color: #ff4747;
  cursor: pointer;
}
.updateNotifications {
  position: absolute;
  top: 37vh;
  font: 500 3vh "IBM Plex Sans Devanagari";
  left: 2vw;
}
.notificationsColon {
  position: absolute;
  top: 37vh;
  font: 400 3vh "IBM Plex Sans Devanagari";
  left: 16vw;
}
.notificationsSwitch {
  position: absolute;
  left: 18vw;
  height: 5vh;
  width: 45vw;
  top: 40vh;
  border-radius: 10px;
  outline: none;
}
.saveButton {
  position: absolute;
  left: 5vw;
  height: 6vh;
  width: 10vw;
  top: 60vh;
  border-radius: 10px;
  outline: none;
  color: #ffffff;
  border: none;
  background-color: #47b5ff;
  cursor: pointer;
  font-size: 3vh;
  font-weight: 100;
}
