.campaignsBox{
    /* border: 1px solid red; */
        position: absolute;
        left: 16vw;
        top: 9vh;
        height: 90vh;
        width: 83.8vw;
}
.campaignsGreyBox{
    position: absolute;
        top: 7vh;
        left: 4vw;
        height: 80vh;
        width: 76vw;
        background: #dde2ea;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
}
.campaignsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 12%;
}

.campaignsHeaderTitleMain {
    font-size: 250%;
    font-weight: 600;
    margin: 0 5%;
}

.campaignsHeaderButton {
    /* display: flex;
  align-items: center;
  justify-content: center; */
    margin: 8%;
    margin-right: 3%;
    width: 10%;
    height: 60%;
    font-size: 120%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #47b5ff;
    color: white;
    cursor: pointer;
}

.campaignsForm {
    /* border: 1px solid gray; */
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    height: 80vh;
    width: 40vw;
    background-color: white;
    top: 50%;
    text-align: center;
    margin: auto;
    left: 50%;
    display: flex;
    flex-direction: column;

    transform: translate(-50%, -50%);
    /* overflow-y: auto; */
}

.campaignsFormHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 10%;
    width: 100%;
    margin: auto;
    background-color: #47b5ff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.campaignsHeaderTitle {
    font-size: 250%;
    font-weight: 600;
    margin: auto;
    /* border: 1px solid red; */
    padding-left: 4%;
}

.closeButtoncampaignsPage {
    margin: 3%;
    width: 6%;
    height: 60%;
    font-size: 120%;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 0;
}

.campaignsFormBody{
    padding-top: 2%;
        display: flex;
        flex-direction: column;
        row-gap: 3%;
        height: 90%;
        width: 100%;
        background-color: white;
        color: black;
        overflow-y: auto;
        /* border: 1px solid blue; */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}

.nextCampaignButton{
    width: 20%;
        height: 9%;
        margin: auto;
        margin: 2% auto;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 120%;
        font-weight: 600;
        background-color: #47b5ff;
        color: white;
}
input[type="date"]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
    color: black !important;
}
.campaignsBody {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 83%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 3%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid blue;
}

.campaignsCategoriesBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #47b5ff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: 1px solid blue;
  border-bottom: 0.5px solid blue; */
}

.campaignNameHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 110%;
    font-weight: 500;
    height: 100%;
    border-right: 1px solid blue;
}
.bidStrategy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    font-size: 110%;
    font-weight: 500;
    height: 100%;
    border-right: 1px solid blue;
}
.budgetDFT{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    font-size: 110%;
    font-weight: 500;
    height: 100%;
    border-right: 1px solid blue;
}
.statusCampaignHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    font-size: 110%;
    font-weight: 500;
    height: 100%;
    border-right: 1px solid blue;
}
.editCampaignHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    font-size: 110%;
    font-weight: 500;
    height: 100%;
    border-right: 1px solid blue;
}
.typeHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    font-size: 110%;
    font-weight: 500;
    height: 100%;
    border-right: 1px solid blue;
}
.reachHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    font-size: 110%;
    font-weight: 500;
    height: 100%;
    border-right: 1px solid blue;
}
.startDateCampaign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 110%;
    font-weight: 500;
    height: 100%;
    border-right: 1px solid blue;
}
.endDateCampgin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 110%;
    font-weight: 500;
    height: 100%;
    /* border-right: 1px solid blue; */
}
.campaignsDetails{
display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.adDetails{
    display: flex;
        align-items: center;
        width: 100%;
        min-height: 11%;
        /* border: 0.5px solid blue; */
        /* border-left: 1px solid blue;
      border-right: 1px solid blue; */
        /* border: 0.5px solid green; */
        border-top: 1px solid blue;
        cursor: pointer;
        border-bottom: 1px solid blue;
}
.campaignNameDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 100%;
    /* font-weight: 500; */
    height: 100%;
    /* border-right: 1px solid blue; */
}
.bidStrategyDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    font-size: 100%;
    /* font-weight: 500; */
    height: 100%;
    /* border-right: 1px solid blue; */
}
.budgetDFTDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    font-size: 100%;
    /* font-weight: 500; */
    height: 100%;
    /* border-right: 1px solid blue; */
}
.statusCampaignDetailss{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 4%;
    font-size: 100%;
    /* font-weight: 500; */
    height: 100%;
    /* border: 1px solid blue; */
    padding-left: 2.5%;
}
.editCampaignDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    font-size: 100%;
    /* font-weight: 500; */
    height: 100%;
    /* border-right: 1px solid blue; */
}
.typeDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    font-size: 100%;
    /* font-weight: 500; */
    height: 100%;
    /* border-right: 1px solid blue; */
}
.reachDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    font-size: 100%;
    /* font-weight: 500; */
    height: 100%;
    /* border: 1px solid blue; */
}
.startDateCampaignDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 100%;
    /* font-weight: 500; */
    height: 100%;
    /* border-right: 1px solid blue; */
}
.endDateCampginDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 100%;
    /* font-weight: 500; */
    height: 100%;
    /* border-right: 1px solid blue; */
}
.statusSwitch{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 3%;
        font-size: 100%;
        font-weight: 400;
        height: 100%;
        text-align: center;
        /* border: 0.5px solid blue; */
        padding: 0;
}