.head {
  padding: 2vh;
  position: absolute;
  left: 2vw;
  font-weight: 700;
  font-size: 4vh;
}
.Wallet {
  position: absolute;
  height: 80vh;
  width: 70vw;
  top: 15vh;
  left: 24vw;
  background: #dde2ea;
  text-align: left;
  border-radius: 1vh;
}
.transactions {
  position: absolute;
  top: 10vh;
  bottom: 7vh;
  text-align: center;
  left: 7vw;
  font-size: 3vh;
  width: 25vw;
  background-color: white;
  border-radius: 2vh;
  overflow-y: hidden;
  border: 4px solid white;
  font-family: "IBM Plex Sans Devanagari";
}
.transactionHeader {
  padding: 2vh;
  font-weight: 400;
  font-size: larger;
  text-decoration: underline;
}

.transactionList {
  position: relative;
  left: 10%;
  border-radius: 1vh;
  top: 2vh;
  margin-bottom: 2vh;
  font-size: 2vh;
  height: 10vh;
  width: 20vw;
  background-color: #dde2ea;
  overflow: hidden;
}
.userWallet {
  position: absolute;
  top: 9vh;
  height: 15vh;
  width: 25vw;
  background-color: white;
  left: 37vw;
  text-align: center;
  border-radius: 2vh;
  border: 2px solid white;
  font-size: 3vh;
}
.transactionBox {
  height: 55vh;
  width: 25vw;
  overflow-y: scroll;
  z-index: 2;
  padding-bottom: 20px;
}
.transactionBox::-webkit-scrollbar {
  border-radius: 2vh;
  right: 1px;
}
.transactionBox::-webkit-scrollbar-thumb {
  background-color: #dde2ea;
  border-radius: 2vh;
  border: 0.25em solid white;
}
.to {
  position: absolute;
  margin-top: 1vh;
  margin-left: 1vw;
}
.add {
  position: absolute;
  margin-top: 1vh;
  margin-left: 3vw;
  width: 7vw;
  overflow: hidden;
  font-weight: lighter;
  height: 3vh;
  color: #1b2b65;
}
.date {
  position: absolute;
  margin-top: 1vh;
  margin-left: 11vw;
  font-size: 2vh;
}
.dft {
  position: absolute;
  margin-top: 6vh;
  margin-left: 1.5vw;
  font-weight: 700;
  font-size: 2.5vh;
  color: #1b2b65;
}
.time {
  position: absolute;
  margin-top: 6.5vh;
  margin-left: 7.5vw;
  font-size: 90%;
}
.status {
  position: absolute;
  margin-top: 6vh;
  margin-left: 12vw;
  width: 7vw;
  font-weight: 300;
  font-size: 2.5vh;
  color: #098c2e;
  font-family: "IBM Plex Sans Devanagari";
}
.sent {
  position: absolute;
  margin-top: 5.7vh;
  margin-left: 12vw;
  width: 7vw;
  font-weight: 300;
  font-size: 2.5vh;
  color: #f43434;
  font-family: "IBM Plex Sans Devanagari";
}
.transfertoken {
  position: absolute;
  top: 28vh;
  left: 37vw;
  height: 45vh;
  width: 25vw;
  border-radius: 2vh;
  background-color: white;
  text-align: center;
}
.walletAddressInput {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  top: 3vh;
  position: relative;
  height: 10vh;
  width: 15vw;
  left: 5vw;
  align-items: center;
}
.transferTokenHeading {
  padding: 2vh;
  font-size: 4vh;
  font-weight: 400;
}
.inputForm {
  border: none;
  width: 16vw;
  height: 4vh;
  border-radius: 1vh;
  background-color: #dde2ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sendButton {
  position: relative;
  top: 4vh;
  height: 6vh;
  width: 6vw;
  color: white;
  background-color: #47b5ff;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
}
.userAddress {
  position: absolute;
  font-size: 2vh;
  text-align: left;
  width: 18vw;
  top: 8vh;
  left: 2vw;
  font-weight: 400;
  overflow: hidden;
}
.copyIcon {
  position: absolute;
  top: 9.5vh;
  left: 19vw;
  color: #dde2ea;
  cursor: pointer;
}
.walletpage {
  position: absolute;
  left: 20vw;
  font-family: "IBM Plex Sans Devanagari";
  font-style: normal;
  font-weight: 700;
  font-size: 3.1vh;
  color: #1c1f37;
  top: 3vh;
}
.extraSpace {
  position: relative;
  margin-top: 5vh;
}
