.head {
  padding: 2vh;
  position: absolute;
  left: 2vw;
  font-weight: 600;
  font-size: 5vh;
}
.walletHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 12%;
}

.walletHeaderTitleMain {
  font-size: 200%;
  font-weight: 600;
  margin: 0 5%;
}

.walletHeaderButton {
  margin: 11%;
  width: auto;
  height: 60%;
  font-size: 120%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #47b5ff;
  color: white;
  cursor: pointer;
}
.Wallet {
  position: absolute;
  height: 80vh;
  width: 70vw;
  top: 15vh;
  left: 23vw;
  background: #dde2ea;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.transactions {
  position: absolute;
  top: 10vh;
  bottom: 7vh;
  text-align: center;
  left: 7vw;
  font-size: 3vh;
  width: 25vw;
  background-color: white;
  border-radius: 2vh;
  border: 4px solid white;
  font-family: "IBM Plex Sans Devanagari";
  height: 60vh;
  /* border: 1px solid red; */
}
.transactionHeader {
  padding: 2vh;
  font-weight: 500;
  font-size: 3vh;
}

.transactionList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 25%;
  border-radius: 10px;
  background-color: #dde2ea;
  font-size: 80%;
  margin: 4% auto;
  cursor: pointer;
  /* border: 1px solid blue; */
  margin-top: 2%;
}
.transactionListTop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
  font-size: 80%;
  /* border: 1px solid red; */
  width: 95%;
  height: 40%;
  font-weight: 500;
}
.transactionListTopLeft {
  /* border: 1px solid blue; */
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transactionListTopRight {
  /* border: 1px solid blue; */
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transactionListBottomLeft {
  /* border: 1px solid blue; */
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.transactionListBottomCenter {
  /* border: 1px solid blue; */
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.transactionListBottomRight {
  /* border: 1px solid blue; */
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.transactionListBottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
  font-size: 75%;
  /* border: 1px solid red; */
  width: 95%;
  height: 40%;
  font-weight: 500;
  padding-bottom: 1%;
}
.transactionListBottomRightTextSent {
  color: #f43434;
  font-weight: 600;
  font-family: "IBM Plex Sans Devanagari";
  /* border: 1px solid blue; */
}
.transactionListBottomRightTextreceived {
  color: green;
  font-weight: 600;
  font-family: "IBM Plex Sans Devanagari";
  /* border: 1px solid blue; */
}
.userWallet {
  position: absolute;
  top: 9vh;
  height: 15vh;
  width: 25vw;
  background-color: white;
  left: 37vw;
  text-align: center;
  border-radius: 2vh;
  font-weight: 500;
  border: 2px solid white;
  font-size: 3vh;
}
.transactionBox {
  /* border: 1px solid red; */
  height: 80%;
  width: 100%;
  overflow-y: auto;
  flex-direction: column;
  position: inherit;
}
.transactionBox::-webkit-scrollbar {
  border-radius: 2vh;
  right: 1px;
}
.transactionBox::-webkit-scrollbar-thumb {
  background-color: #dde2ea;
  border-radius: 2vh;
  border: 0.25em solid #dde2ea;
}
.to {
  font-weight: 500;
  width: 10%;
  position: absolute;
  /* border: 1px solid blue; */
  margin-top: 3%;
  margin-left: 5%;
  font-size: 90%;
}
.add {
  position: absolute;
  margin-top: 3%;
  margin-left: 15%;
  width: 35%;
  overflow: hidden;
  font-weight: 500;
  font-size: 90%;
  color: #1b2b65;
}
.date {
  position: absolute;
  margin-top: 3%;
  margin-left: 55%;
  font-weight: 500;
  font-size: 90%;
}
.dft {
  position: absolute;
  margin-top: 18%;
  margin-left: 10%;
  font-weight: 500;
  font-size: 90%;
  color: #1b2b65;
}
.time {
  position: absolute;
  margin-top: 18%;
  font-weight: 500;
  margin-left: 38%;
  width: 20%;
  height: 20%;
  font-size: 90%;
}
.status {
  margin-top: 17%;
  margin-left: 70%;
  width: 20%;
  font-weight: 500;
  font-size: 905;
  color: #098c2e;
  font-family: "IBM Plex Sans Devanagari";
}
.sentStatus {
  color: #f43434;
  font-family: "IBM Plex Sans Devanagari";
}
.transfertoken {
  position: absolute;
  top: 28vh;
  left: 37vw;
  height: 45vh;
  width: 25vw;
  border-radius: 2vh;
  background-color: white;
  text-align: center;
}
.walletAddressInput {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  top: 1vh;
  position: relative;
  height: 10vh;
  width: 15vw;
  left: 5vw;
  align-items: center;
  margin-top: 2vh;
}
.transferTokenHeading {
  padding: 2vh;
  font-size: 3vh;
  font-weight: 500;
}
.inputForm {
  border: none;
  width: 110%;
  height: 50%;
  outline: none;
  border-radius: 5px;
  background-color: #dde2ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sendButton {
  border-radius: 8px;

  color: #ffffff;
  border: none;
  background-color: #47b5ff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 100;
  height: 6vh;
  width: 6vw;
  margin: 4vh 0;
  margin-bottom: 2vh;
}
.sendButtonDisable {
  /* disable this button */
  border-radius: 8px;

  color: #ffffff;
  border: none;
  background-color: #47b5ff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 100;
  height: 6vh;
  width: 6vw;
  margin: 4vh 0;
  margin-bottom: 2vh;
  background-color: gray;
  cursor: not-allowed;
}
.userAddress {
  font-weight: 400;
  overflow: hidden;
  /* border: 1px solid green; */
  width: 50%;
  margin-left: 20%;
  font-size: 2vh;
  text-align: left;
}
.copyIcon {
  /* border: 1px solid green; */
  position: relative;
  color: #dde2ea;
  cursor: pointer;
  top: -5vh;
  margin-left: 50%;
}
.walletpage {
  position: absolute;
  left: 20vw;
  font-family: "IBM Plex Sans Devanagari";
  font-style: normal;
  font-weight: 700;
  font-size: 3.1vh;
  color: #1c1f37;
  top: 3vh;
}
.extraSpace {
  border: 1px solid blue;
}
input[type="walletPageInput"] {
  padding: 1%;
  padding-left: 5%;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.transactionLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
