.head {
  padding: 2vh;
  position: absolute;
  left: 2vw;
  font-weight: 600;
  font-size: 5vh;
}
.Wallet {
  position: absolute;
  height: 80vh;
  width: 70vw;
  top: 15vh;
  left: 24vw;
  background: #dde2ea;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.transactions {
  position: absolute;
  top: 10vh;
  bottom: 7vh;
  text-align: center;
  left: 7vw;
  font-size: 3vh;
  width: 25vw;
  background-color: white;
  border-radius: 2vh;
  overflow-y: hidden;
  border: 4px solid white;
  font-family: "IBM Plex Sans Devanagari";
}
.transactionHeader {
  padding: 2vh;
  font-weight: 500;
  font-size: 3vh;
}

.transactionList {
  position: relative;
  left: 10%;
  border-radius: 1vh;
  top: 2vh;
  margin-bottom: 2vh;
  font-size: 2vh;
  height: 10vh;
  width: 20vw;
  background-color: #dde2ea;
  overflow: hidden;
}
.userWallet {
  position: absolute;
  top: 9vh;
  height: 15vh;
  width: 25vw;
  background-color: white;
  left: 37vw;
  text-align: center;
  border-radius: 2vh;
  font-weight: 500;
  border: 2px solid white;
  font-size: 3vh;
}
.transactionBox {
  height: 55vh;
  width: 25vw;
  overflow-y: scroll;
  z-index: 2;
  padding-bottom: 20px;
}
.transactionBox::-webkit-scrollbar {
  border-radius: 2vh;
  right: 1px;
}
.transactionBox::-webkit-scrollbar-thumb {
  background-color: #dde2ea;
  border-radius: 2vh;
  border: 0.25em solid white;
}
.to {
  font-weight: 500;
  width: 10%;
  position: absolute;
  /* border: 1px solid blue; */
  margin-top: 3%;
  margin-left: 5%;
  font-size: 90%;
}
.add {
  position: absolute;
  margin-top: 3%;
  margin-left: 15%;
  width: 35%;
  overflow: hidden;
  font-weight: 500;
  font-size: 90%;
  color: #1b2b65;
}
.date {
  position: absolute;
  margin-top: 3%;
  margin-left: 55%;
  font-weight: 500;
  font-size: 90%;
}
.dft {
  position: absolute;
  margin-top: 18%;
  margin-left: 10%;
  font-weight: 500;
  font-size: 90%;
  color: #1b2b65;
}
.time {
  position: absolute;
  margin-top: 18%;
  font-weight: 500;
  margin-left: 38%;
  width: 20%;
  height: 20%;
  font-size: 90%;
}
.status {
  margin-top: 17%;
  margin-left: 70%;
  width: 20%;
  font-weight: 500;
  font-size: 905;
  color: #098c2e;
  font-family: "IBM Plex Sans Devanagari";
}
.sent {
  margin-top: 17%;
  margin-left: 70%;
  width: 20%;
  font-weight: 500;
  font-size: 95%;
  color: #f43434;
  font-family: "IBM Plex Sans Devanagari";
}
.transfertoken {
  position: absolute;
  top: 28vh;
  left: 37vw;
  height: 45vh;
  width: 25vw;
  border-radius: 2vh;
  background-color: white;
  text-align: center;
}
.walletAddressInput {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  top: 1vh;
  position: relative;
  height: 10vh;
  width: 15vw;
  left: 5vw;
  align-items: center;
  margin-top: 2vh;
}
.transferTokenHeading {
  padding: 2vh;
  font-size: 3vh;
  font-weight: 500;
}
.inputForm {
  border: none;
  width: 100%;
  height: 25%;
  outline: none;
  border-radius: 5px;
  background-color: #dde2ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sendButton {
  border-radius: 10px;
  outline: none;
  color: #ffffff;
  border: none;
  background-color: #47b5ff;
  cursor: pointer;
  font-size: 3vh;
  font-weight: 100;
  height: 5vh;
  width: 10vw;
  margin: 4vh 0;
  margin-bottom: 2vh;
}
.userAddress {
  font-weight: 400;
  overflow: hidden;
  /* border: 1px solid green; */
  width: 50%;
  margin-left: 20%;
  font-size: 2vh;
  text-align: left;
}
.copyIcon {
  /* border: 1px solid green; */
  position: relative;
  color: #dde2ea;
  cursor: pointer;
  top: -5vh;
  margin-left: 50%;
}
.walletpage {
  position: absolute;
  left: 20vw;
  font-family: "IBM Plex Sans Devanagari";
  font-style: normal;
  font-weight: 700;
  font-size: 3.1vh;
  color: #1c1f37;
  top: 3vh;
}
.extraSpace {
  position: relative;
  margin-top: 5vh;
}
input[type="text"] {
  padding: 20px;
  padding-left: 15px;
}
