.connectClientWallet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 80vw;
  /* border: 1px solid #000; */
  text-align: center;
}
.connectClientWallet__button {
  background-color: #47b5ff;
  outline: none;
  color: #ffffff;
  border: none;
  height: 10vh;
  width: 25vw;
  border-radius: 10px;
  cursor: pointer;
  font-size: 3vh;
  text-align: center;
  font-weight: 100;
}
.connectClientWallet__heading {
  font-size: 6vh;
  font-weight: 500;
  color: #000;
}

@media only screen and (max-width:600px){
  
  .connectClientWallet__button{
    position: relative;
    margin: auto;
    top: 10vh;
    width: 80vw;
  }
  .connectClientWallet__heading{
    font-size: 4vh;
  }
  
}