.createSurveyBox {
  /* border: 1px solid red; */
  position: absolute;
  left: 16vw;
  top: 9vh;
  height: 90vh;
  width: 83.8vw;
}
.createSurveyGreyBox {
  position: absolute;
  top: 7vh;
  left: 4vw;
  height: 80vh;
  width: 76vw;
  background: #dde2ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.createSurveyHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 12%;
}
.createSurveyHeaderTitleMain {
  font-size: 250%;
  font-weight: 600;
  margin: 0 5%;
}
.createSurveyHeaderButton {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 8%;
  margin-right: 3%;
  width: 10%;
  height: 60%;
  font-size: 120%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #47b5ff;
  color: white;
  cursor: pointer;
}
.createSurveyBody {
  display: flex;
  flex-direction: column;
  width: 94%;
  height: 83%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 3%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid blue;
}
.createSurveyCategoriesBox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #47b5ff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border: 1px solid blue;
  border-bottom: 0.5px solid blue; */
  border-bottom: 1px solid blue;
}
.surveyName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  border-right:  1px solid blue;
}
.totalQues {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.totalRes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.statusCampaign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.editCampaign{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.startDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.endDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  border-top-right-radius: 10px;
  /* border: 1px solid blue; */
}
.createSurveyDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  /* border: 1px solid blue; */
  /* cursor: pointer; */
}
.surveyDetails {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 11%;
  /* border: 0.5px solid blue; */
  /* border-left: 1px solid blue;
  border-right: 1px solid blue; */
  /* border: 0.5px solid green; */
  border-bottom: 1px solid blue;
  cursor: pointer;

}
.lastEntry {
  border-bottom: 1px solid blue;
  width: 101%;
}
.surveyNameDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  font-size: 110%;
  font-weight: 400;
  height: 100%;
  /* border: 0.5px solid blue; */
}
.totalQuesDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.1%;
  font-size: 110%;
  font-weight: 400;
  height: 100%;
  /* border: 0.5px solid blue; */
}
.totalResDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.2%;
  font-size: 110%;
  font-weight: 400;
  height: 100%;
  /* border: 0.5px solid blue; */
}
.statusCampaignDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4%;
  font-size: 100%;
  font-weight: 400;
  height: 100%;
  text-align: center;
  /* border: 0.5px solid blue; */
  padding: 0;
  padding-left: 4%;
}
.themeSwitch{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3%;
  font-size: 100%;
  font-weight: 400;
  height: 100%;
  text-align: center;
  /* border: 0.5px solid blue; */
  padding: 0;
}
.editIconCreateSurvey {
  display: flex;
  flex-direction: row;
  width: 7%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.startDateDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  font-size: 110%;
  font-weight: 400;
  height: 100%;
  /* border: 0.5px solid blue; */
}
.endDateDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  font-size: 110%;
  font-weight: 400;
  height: 100%;
  /* border: 0.5px solid blue; */
}
.createSurveyForm {
  /* border: 1px solid gray; */
  border-radius: 10px;
  position: absolute;
  z-index: 3;
  height: 85vh;
  width: 40vw;
  background-color: white;
  top: 50%;
  text-align: center;
  margin: auto;
  left: 50%;
  display: flex;
  flex-direction: column;

  transform: translate(-50%, -50%);
  /* overflow-y: auto; */
}
.createSurveyFormHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 10%;
  width: 100%;
  margin: auto;
  background-color: #47b5ff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.createSurveyHeaderTitle {
  font-size: 250%;
  font-weight: 600;
  margin: auto;
}
.closeButtonCreateSurveyPage {
  margin: 3%;
  width: 6%;
  height: 60%;
  font-size: 120%;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 0;
}
.createSurveyFormBody {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  row-gap: 3%;
  height: 90%;
  width: 100%;
  background-color: white;
  color: black;
  overflow-y: auto;
  /* border: 1px solid blue; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
.optionsInNumberOfQuestion {
  padding: 2%;
}
.fieldInputDiv {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100px;
  margin: auto;
  margin-bottom: 2%;
  /* border: 10px; */
  border: 1px solid white;
  justify-content: space-around;
}
.fieldInputSurveyName {
  border: none;
  outline: none;
}
.fieldInputSurveyInputBlock {
  display: flex;
  /* border: 1px solid blue; */
  justify-content: space-around;
  align-items: center;
}
.fieldInputSurveyNameInputField {
  /* border: none; */
  outline: none;
  /* border: 10px; */
}
.submitSurveyButton {
  width: 20%;
  height: 8%;
  margin: auto;
  margin: 2% auto;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 120%;
  font-weight: 600;
  background-color: #47b5ff;
  color: white;
}
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
input[type="text"] {
  padding: 1%;
  padding-left: 4%;
}
.modalHeader{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid blue;
  padding: 0;
  margin: 0;
}
.modalHeaderShort {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid blue;
  padding: 0;
  margin: 0;
}
.modalHeaderHeading{
  font-size: 200%;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.modalHeaderDescription{
  font-size: 100%;
  font-weight: 400;
  margin: 3%;
  padding: 1%;
}

.modalBody{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 20%;
  /* border-top: 1px solid blue; */
  padding: 0;
  margin: 0;
  row-gap: 5%;
  column-gap: 10%;
  justify-content: center;
  align-items: center;
}
.modalFooter{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 10%;
  border-top: 1px solid blue;
  padding: 1%;
  margin: 0;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}
.modalFooterButtonEdit{
  width: 25%;
  height: 50%;
  margin: 2%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 3%;
  cursor: pointer;
  font-size: 100%;
  font-weight: 600;
  background-color: #47b5ff;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modalFooterButtonDelete{
  width: 25%;
  height: 50%;
  margin: 2%;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3%;
  font-size: 100%;
  font-weight: 600;
  background-color: #ff4d4d;
  color: white;
    display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}
.modalFooterButtonInactive{
  width: 25%;
  height: 50%;
  margin: 2%;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 100%;
  padding: 3%;
  font-weight: 600;
  background-color: #20f34e;
  color: white;
    display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}
.modalFooterButtonClose{
  width: 25%;
  height: 50%;
  margin: 2%;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 100%;
  padding: 3%;
  font-weight: 600;
  background-color: #47b5ff;
  color: white;
}
.modalCloseButton{
position: absolute;
top: 2%;
right: 1%;
width:5%;
height: 7%;
font-size: 100%;
font-weight: 600;
border-radius: 10px;
border: none;
outline: none;  
cursor: pointer;
background-color: #47b5ff;
color: white;

}

.viewQuestions{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
}
.questionsArray{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
.questionModalHeadingDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  /* border: 1px solid blue; */
  /* border-bottom: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.questionsModalHeadingSno{
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionsModalHeadingQuestion{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionsModalHeadingOption{
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionModalBodyDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
}
.questionModalBodySno{
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionModalBodyQuestion{
  display: flex;
  flex-direction: row;
  width: 71%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  padding-left: 10%;
  /* justify-content: center; */
  text-align: left;
  align-items: center;
}
.questionModalBodyOption{
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.questionsArrayInEdit{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
.questionModalBodyDivInEdit{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  padding-top: 1%;
  margin: 0;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
}
.questionModalBodySnoInEdit{
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionModalBodyQuestionInEdit{
  display: flex;
  flex-direction: row;
  width: 71%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  padding-left: 10%;
  /* justify-content: center; */
  text-align: left;
  align-items: center;
}
.questionModalBodyQuestionInput{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionModalBodyOptionInEdit{
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionModalBodyOptionInput{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.modalFooterInEdit{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.modalFooterButtonEditInEdit{
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.modalFooterButtonSaveInEdit{
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.modalHeaderEdit{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid blue;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modalHeaderHeadingEdit{
  display: flex;
  flex-direction: row;
  width: 70%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 1%;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  font-weight: 600;
}
.modalHeaderDescriptionEdit{
  display: flex;
  flex-direction: row;
  width: 70%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 1%;
  justify-content: center;
  align-items: center;
}

.noDataCreateSurvey{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 200%;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}