.createSurveyGreyBox {
  position: absolute;
  height: 82vh;
  width: 75vw;
  top: 14vh;
  left: 21vw;
  background: #dde2ea;
  text-align: left;
  border-radius: 1vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "inter";
  border-radius: 10px;
  font-size: 90%;
}
.createSurveyHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 12%;
}
.createSurveyHeaderTitleMain {
  font-size: 5vh;
  font-weight: 600;
  margin: 0 5%;
}
.createSurveyHeaderButton {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 8%;
  margin-right: 3%;
  width: auto;
  height: 60%;
  font-size: 2.5vh;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #47b5ff;
  color: white;
  cursor: pointer;
  padding: 1% 2%;
}
.createSurveyBody {
  display: flex;
  flex-direction: column;
  width: 94%;
  height: 83%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 3%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid blue;
  text-align: center;
}
.createSurveyCategoriesBox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #47b5ff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border: 1px solid blue;
  border-bottom: 0.5px solid blue; */
  border-bottom: 1px solid blue;
}
.surveyName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  border-right: 1px solid blue;
}
.totalQues {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.totalRes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.statusCampaign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.editCampaign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.startDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  /* border: 0.5px solid blue; */
  border-right: 1px solid blue;
}
.endDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  font-size: 110%;
  font-weight: 500;
  height: 100%;
  border-top-right-radius: 10px;
  /* border: 1px solid blue; */
}
.createSurveyDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  /* border: 1px solid blue; */
  /* cursor: pointer; */
}
.surveyDetails {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11%;
  font-size: 100%;
  font-weight: 500;
  border-bottom: 1px solid blue;
  cursor: pointer;
}
.lastEntry {
  border-bottom: 1px solid blue;
  width: 101%;
}
.surveyNameDetails {
  /* border-right: 1px solid red; */
  width: 32%;
}
.totalQuesDetails {
  /* border: 0.5px solid blue; */
  width: 17%;
}
.totalResDetails {
  /* border-right: 1px solid red; */
  width: 16.5%;
}
.statusCampaignDetails {
  width: 7%;
  font-size: 100%;
  font-weight: 400;
  height: 100%;
  text-align: center;
  /* border: 0.5px solid blue; */
  padding: 0;
  padding-left: 3%;
}
.themeSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-weight: 400;
  height: 100%;
  text-align: center;
  /* border: 0.5px solid blue; */
  padding: 0;
}
.editIconCreateSurvey {
  width: 8%;
}
.startDateDetails {
  width: 14%;
}
.endDateDetails {
  width: 14%;
}
.createSurveyForm {
  /* border: 1px solid gray; */
  border-radius: 10px;
  position: absolute;
  z-index: 3;
  height: 85vh;
  width: 40vw;
  background-color: white;
  top: 50%;
  text-align: center;
  margin: auto;
  left: 50%;
  display: flex;
  flex-direction: column;

  transform: translate(-50%, -50%);
  /* overflow-y: auto; */
}
.createSurveyFormHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 10%;
  width: 100%;
  margin: auto;
  background-color: #47b5ff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.createSurveyHeaderTitle {
  font-size: 250%;
  font-weight: 600;
  margin: auto;
}
.closeButtonCreateSurveyPage {
  margin: 3%;
  width: 6%;
  height: 60%;
  font-size: 120%;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 0;
}
.createSurveyFormBody {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  row-gap: 3%;
  height: 90%;
  width: 100%;
  background-color: white;
  color: black;
  overflow-y: auto;
  /* border: 1px solid blue; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
.optionsInNumberOfQuestion {
  padding: 2%;
}
.fieldInputDiv {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100px;
  margin: auto;
  margin-bottom: 2%;
  /* border: 10px; */
  border: 1px solid white;
  justify-content: space-around;
}
.fieldInputSurveyName {
  border: none;
  outline: none;
}
.fieldInputSurveyInputBlock {
  display: flex;
  /* border: 1px solid blue; */
  justify-content: space-around;
  align-items: center;
}
.fieldInputSurveyNameInputField {
  /* border: none; */
  outline: none;
  /* border: 10px; */
}
.submitSurveyButton {
  width: auto;
  height: 8%;
  margin: auto;
  margin: 2% auto;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 120%;
  font-weight: 600;
  background-color: #47b5ff;
  color: white;
}
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
input[type="text"] {
  padding: 1%;
  padding-left: 4%;
}
.modalHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid blue;
  padding: 0;
  margin: 0;
}
.modalHeaderShort {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid blue;
  padding: 2.5% 0 0 0;
  margin: 0;
}
.modalHeaderHeading {
  margin: 0;
  padding: 0;
}
.modalHeaderDescription {
  padding-bottom: 3%;
}
.modalBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 16%;
  /* border-top: 1px solid blue; */
  column-gap: 5%;
  justify-content: center;
  /* border: 1px solid yellow; */
}
.modalFooter {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 10%;
  border-top: 1px solid blue;
  padding: 1%;
  margin: 0;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}
.modalFooterButtonEdit {
  width: 25%;
  height: 50%;
  margin: 2%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 3%;
  cursor: pointer;
  font-size: 100%;
  font-weight: 600;
  background-color: #47b5ff;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modalFooterButtonDelete {
  width: 25%;
  height: 50%;
  margin: 2%;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3%;
  font-size: 100%;
  font-weight: 600;
  background-color: #ff4d4d;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modalCloseButton {
  position: absolute;
  width: 7%;
  height: 7%;
  font-size: 150%;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20%;
  top: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
}

.viewQuestions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
}

.questionModalHeadingDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  /* border: 1px solid blue; */
  /* border-bottom: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.questionsModalHeadingSno {
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionsModalHeadingQuestion {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionsModalHeadingOption {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionsArrayInEdit {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
.questionModalBodyDivInEdit {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 60px;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
}
.questionModalBodySnoInEdit {
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.questionModalBodyQuestionInEdit {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0 2%;
  justify-content: center;
  text-align: left;
  align-items: center;
}
.questionModalBodyQuestionInput {
  width: 100%;
  height: 50%;
  background-color: #f6f6f7;
  outline: none;
  border: none;
  border-radius: 10px;
}
.questionModalBodyOptionInEdit {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0 1%;
  justify-content: center;
  align-items: center;
}
.questionModalBodyOptionInput {
  width: 100%;
  height: 50%;
  background-color: #f6f6f7;
  outline: none;
  border: none;
  border-radius: 10px;
}
.modalFooterInEdit {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.modalFooterButtonEditInEdit {
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.modalFooterButtonSaveInEdit {
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.noDataCreateSurvey {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 200%;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

input[type="textSurveyPage"] {
  padding: 2%;
  padding-left: 5%;
}
.infoMsgSurvey {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 1%;
  font-weight: bold;
  color: black;
  font-style: italic;
}

@media only screen and (max-width: 960px) {
  .createSurveyGreyBox {
    left: 23vw;
  }
}
@media only screen and (max-width: 960px) {
  .createSurveyGreyBox {
    left: 5vw;
    width: 90vw;
    font-size: 1.8vw;
  }
  .createSurveyForm {
    width: 60vw;
  }
}

@media only screen and (max-width: 600px) {
  .createSurveyGreyBox {
    font-size: 16px;
    left: 5vw;
    width: 90vw;
    overflow: hidden;
    overflow-x: scroll;
  }
  .createSurveyBody {
    width: 770px;
    font-size: 16px;
  }
  .createSurveyHeaderTitleMain {
    position: fixed;
    font-size: 20px;
  }
  .createSurveyForm {
    font-size: 14px;
    width: 80vw;
    height: 60vh;
  }
  .createSurveyHeaderButton {
    position: fixed;
    height: 5vh;
    left: 65vw;
  }
}
