.header {
  position: absolute;
  width: 79vw;
  height: 8.8vh;
  top: 0vh;
  z-index: -1;
  left: 20vw;
  background: linear-gradient(
    90deg,
    rgba(63, 13, 206, 0.71) 0%,
    rgba(131, 104, 213, 0.4615) 77.08%,
    rgba(215, 217, 221, 0) 100%
  );
}

.head1 {
  position: absolute;
  width: 10vw;
  top: 3vh;
  right: 6vw;
}
.user1 {
  position: absolute;
  top: 2vh;
  height: 5vh;
  width: 5vh;
  right: 17vw;
  border-radius: 50%;
}
.drp {
  position: absolute;
  top: 3vh;
  right: 8vw;
}
