.surveyBoxFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;

  /* border: 1px solid red; */
  /* background-color: #47b5ff; */
  border-radius: 10px 10px 0 0;
}
.surveyIconsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  /* border: 1px solid red; */
}
.surveyTitle {
  font-weight: 600;
  font-size: 300%;
  margin: 4%;
  color: #1c1f37;
}
.editIconSurveyPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  font-weight: 400;
  color: white;
  background-color: #47b5ff;
  outline: none;
  border: none;
  height: 50%;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 6%;
}

.deleteSurveyPage {
  color: red;
  cursor: pointer;
}
.surveyHistoryOuterBox {
  position: absolute;
  height: 82vh;
  width: 75vw;
  top: 14vh;
  left: 21vw;
  background: #dde2ea;
  text-align: left;
  border-radius: 1vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "inter";
  border-radius: 10px;
}
.surveyHistoryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 12%;
}
.surveyHistoryHeaderButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
  height: 90%;
  width: 20%;
  margin: 0 7%;
}
.surveyHistoryEditButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8%;
  width: 55%;
  height: 65%;
  font-size: 150%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #47b5ff;
  color: white;
  cursor: pointer;
}
.surveyHistoryDeleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8%;
  width: 55%;
  height: 65%;
  font-size: 150%;
  border-radius: 10px;
  border: none;
  outline: none;
  color: red;
  cursor: pointer;
}
.surveyHistoryTitle {
  font-size: 250%;
  font-weight: 600;
  margin: 0 5%;
  color: #1c1f37;
}
.surveyHistoryContent {
  display: flex;
  flex-direction: column;
  width: 94%;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 3%;
  border-radius: 10px;
  background-color: white;
  /* border: 1px solid red; */
}
.surveyHistoryContentTitle {
  display: flex;
  align-items: center;
  width: 99.8%;
  height: 10%;
  background-color: #47b5ff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid blue;
}
.surveyHistorySno {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
  font-weight: 500;
  border: 1px solid blue;
  border-left: 0.5px;
}
.surveyHistorySurveyName {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
  font-weight: 500;
  border: 1px solid blue;
  border-left: 0.5px;
}
.surveyHistoryTotalQues {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
  font-weight: 500;
  border: 1px solid blue;
  border-left: 0.5px;
}
.surveyHistoryTotalRes {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
  font-weight: 500;
  border: 1px solid blue;
  border-left: 0.5px;
}
.surveyHistoryTotalReward {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
  font-weight: 500;
  border: 1px solid blue;
  border-left: 0.5px;
}
.surveyHistoryTimePeriod {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
  font-weight: 500;
  border: 1px solid blue;
  border-left: 0.5px;
  border-right: 0.5px;
}
