@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

.Profile {
  position: absolute;
  height: 80vh;
  width: 76vw;
  top: 14vh;
  left: 20vw;
  border-radius: 1vh;
  background: #dde2ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "IBM Plex Sans Devanagari";
  border-radius: 10px;
}
.profileTitle {
  position: relative;
  left: 3vw;
  top: 2vh;
  font-size: 5vh;
  font-weight: 600;
  color: #1c1f37;
  margin-bottom: 2vh;
}
.profileBox {
  /* border: 2px solid #1c1f37; */
  position: relative;
  top: 2vh;
  margin: auto;
  height: 65vh;
  width: 65vw;
  background: white;
  border-radius: 1vh;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
}
.img {
  position: absolute;
  width: 140px;
  height: 20vh;
  border-radius: 50%;
  margin-top: 20px;
  position: relative;
  left: 10px;
  border: 5px solid #47b5ff;
}
.editIMG {
  position: absolute;
  /* border: 1px solid red; */
  top: 5vh;
  width: 40px;
  left: 11vw;
  padding: 2% 0;
  background-color: #47b5ff;
  color: white;
  border-radius: 80%;
  cursor: pointer;
  z-index: 2;
}
.editIcon {
  position: relative;
  cursor: pointer;
  width: 10px;
}
.imgInEditMode {
  width: 140px;
  height: 20vh;
  border-radius: 50%;
  margin-top: 20px;
  position: relative;
  opacity: 0.5;
  border: 5px solid #47b5ff;
}
.profileImage {
  /* border: 2px solid red; */
  text-align: center;
  position: relative;
}
.profileEntries {
  /* border: 1px solid green; */
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  top: 8vh;
  left: 2vw;
  width: 20vw;
  height: 40vh;
  font-weight: 600;
}
.profileEntriesData {
  /* border: 2px solid yellow; */
  font-size: 3vh;
  height: 5vh;
}
.semiColon {
  /* border: 2px solid purple; */
  position: relative;
  display: flex;
  flex-direction: column;
  top: 8vh;

  height: 40vh;
  row-gap: 2vh;
  font-weight: 600;

  align-items: center;
  vertical-align: middle;
  font-size: 3vh;
}
.secol {
  height: 5vh;
}

.profileDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 8vh;
  row-gap: 2.2vh;
  width: 20vw;
  height: 40vh;
  font-size: 3vh;
}
.profileDetailsData {
  /* border: 2px solid pink; */
  font-size: 3vh;

  height: 5vh;
}
.editButton {
  position: relative;
  border-radius: 10px;
  outline: none;
  color: #ffffff;
  border: none;
  background-color: #47b5ff;
  cursor: pointer;
  font-size: 3vh;
  font-weight: 100;
  top: 20%;
  height: 5vh;
  width: 10vw;
  left: 40%;
  transform: translate(-50%);
}
.hidden {
  display: none;
}
.profileDetailsDataEdit1 {
  height: 5vh;
  width: 20vw;
  background-color: #dde2ea;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 2.5vh;
}
.profileDetailsDataEditState {
  height: 5vh;
}
.profileDetailsEdit {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 8vh;
  left: 4vw;
  height: 40vh;
  row-gap: 2vh;
}
/* .profileDetailsDataEdit2 {
  font-size: 2.5vh;
  background-color: #dde2ea;
  color: #1c1f37;
  padding: 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 2.5vh;
  width: 70%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

body {
  overflow-y: scroll;
}
@media only screen and (max-width: 960px) {
  .Profile {
    left: 5vw;
    width: 90vw;
  }
  .profileBox {
    width: 80vw;
  }
  .editButton {
    width: auto;
  }
  .profileDetails {
    left: 9vw;
    overflow: hidden;
  }
  .profileEntries {
    width: auto;
    left: 7vw;
  }
  .profileDetailsEdit {
    left: 8vw;
  }
  .semiColon {
    left: 7vw;
  }
  .editIMG {
    left: 16vw;
  }
}
@media only screen and (max-width: 600px) {
  .outerlayer {
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100%;

    overflow: hidden;
    overflow-y: scroll;
  }
  .Profile {
    top: 5vh;
    height: 100vh;
    font-size: 14px;
  }
  .profileBox {
    height: 84vh;
  }
  .profileEntries {
    top: 5vh;
    font-size: 14px;
    left: 30%;
    transform: translate(-50%);
  }
  .profileDetailsEdit {
    top: 5vh;
    left: 35%;
    transform: translate(-50%);
  }
  .img {
    width: auto;
  }
  .profileEntriesData {
    font-size: 14px;
  }
  .semiColon {
    top: 5vh;
    left: 20%;
    transform: translate(-50%);
  }
  .profileDetails {
    top: 5vh;

    left: 37%;
    transform: translate(-50%);
    width: 30%;
    overflow: hidden;
  }
  .editButton {
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
  }
}
